"*":
  "atom-beautify":
    json:
      beautify_on_save: true
      disabled: true
  core:
    disabledPackages: [
      "go-debug"
    ]
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "f4949d7e-636d-b22a-2566-26d8cb1a6bdb"
  "go-plus":
    disabledBundledPackages: [
      "go-debug"
      "go-signature-statusbar"
      "linter"
      "hyperclick"
    ]
    panel:
      currentHeight: "17.323651452282157vh"
    test:
      runTestsOnSave: false
      runTestsWithShortFlag: false
  "project-plus":
    autoDiscover: false
    newWindow: true
  welcome:
    showOnStartup: false
